SECRET_KEY = kjhxtfggszjvjvjvj
PAYSTACK_SECRET_KEY = sk_test_7bcfa15a294c6jcfyxhxxdxh
PAYSTACK_ENDPOINT = https://api.paystack.co/transaction/initialize
PAYSTACK_VERIFY = https://api.paystack.co/transaction/verify/

 